# Dependencies
node_modules/

# Environment files
.env
client/.env
*.env

# Firebase
serviceAccountKey.json
.firebase/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

#Firebase Service Account Key
serviceAccountKey.json
